articles
.DS_Store
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.vrb
*.root
.idea/
__pycache__
notes/06April2023.tex
notes/07April2023.tex
notes/22March2023.tex
notes/23March2023.tex
notes/26March2023.tex
notes/30March2023.tex
notes/31March2023.tex
TDCTime.png
TDCTime.py
code/
cuts.h
*.png
.ipynb_checkpoints
notes
